* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(../imag/fondo-estilo.png);
}

/* NAVEGADOR */
.encabezado {
    background-color: blueviolet;
    position: sticky;
}

.encabezado h1 {
    color: darkgoldenrod;
    text-align: left;
    margin: 10px;
}

.tituloeicon {
    display: flex;
    justify-content: space-between;
}

.iconouno {
    background-color: blueviolet;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconouno i {
    color: black;
    font-size: 30px;
}

.headerform {
    display: none;
}

.navegador {
    display: none;
}
a :hover{
    color: blue;
    text-decoration: underline;
}

/* PORTADA */
.portada h2 {
    background-image: url(../imag/portada.jpg);
    background-size: cover;
    background-position: none;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: blueviolet;
    font-size: 20px;
}

.separador {
    background-color: blueviolet;
    height: 20px;
}

/* SECCION NOTICIAS */

.seccionlomasdestacado h2 {
    color: blueviolet;
    font-size: large;
    margin: 20px;

}

.seccionnoticias h2 {
    color: red;
    font-size: large;
    margin: 20px;
}

.seccionnoticias h3 {
    color: black;

}

.seccionnoticias a {
    color: black;
    text-decoration: none;
}

.articulouno {
    margin: 20px;
    background-image: url(../imag/imagen-lolla.jpg);
    background-size: cover;
    height: 400px;
}

.articulouno h2 {
    color: blueviolet;
    font-size: large;

}

.articulouno p {
    color: black;
}

.articulouno h3 {
    color: red;
}

.articulodos {
    background-color: blueviolet;
    margin: 20px;
}

.articulodos figure img {
    width: 250px;
    margin: 10px;
}

.articulodos h2 {
    color: red;
}

.articulotres {
    background-color: blueviolet;
    margin: 20px;
}

.articulotres figure img {
    margin: 10px;
    width: 250px;

}

.articulocuatro {
    margin: 20px;
    background-color: blueviolet;
}

.articulocuatro figure img {
    width: 250px;
    margin: 10px;
}

/* FOOTER */

.footer {
    margin: 10px;
    display: flex;

}

.piedepagina {
    display: flex;
    gap: 50px;
}

.piedepagina ul li {
    color: darkgoldenrod;
    font-size: 15px;
    list-style-type: none;
}

.piedepagina a {
    text-decoration: none;
    color: darkgoldenrod;
}

.piedepagina h2 {
    color: darkgoldenrod;
    font-size: 20px;
}

.redessocialesiconos {

    height: 20px;
    width: 5px;
    border-radius: 50px;
    padding: 40px;
}

.redessocialesiconos i {
    color: blueviolet;
    font-size: 15px;
}
a:hover{
    color: blue;
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* RESPONSIVE---TABLET---HEADER*/
    .iconouno {
        display: none;
    }

    .navegador {
        display: block;
    }
    .listanav :hover{
        color: darkgoldenrod;
    }

    .headerform {
        display: block;
    }

    .encabezado {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5vh 3vh;
    }

    .encabezado h1 {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerform {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navegador {
        grid-column: span 2;
    }

    .listanav {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 90px;
    }

    .listanav a {
        text-decoration: none;
        color: black;
    }

    /* RESPONSIVE---TABLET---PORTADA */
    .portada h2 {

        height: 500px;
        width: 100%;
        font-size: 40px;
        color: blueviolet;
    }

    /* RESPONSIVE---TABLET---SECCION NOTICIAS */
    .ultimasnoticias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20% 20%;
    }

    .articulodos {
        grid-column: span 2;
    }

    .noticiauno {
        display: flex;
    }

    .articulotres figure img {
        margin-left: 50px;
    }

    .articulocuatro figure img {
        margin-left: 50px;
    }

    /* RESPONSIVE---TABLET----FOOTER */
    .piedepagina {
        gap: 300px;
    }

    .redes {
        line-height: 30px;
    }

    .redessocialesiconos i {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (min-width: 1024px) {
    /* RESPONSIVE---DESKTOP--ENCABEZADO */
    .iconouno{
        display: none;
    }
    .headerform{
        display: none;
    }
    .navegador{
        display: block;
    }
    .listanav{
        display: flex;
        list-style-type: none;
        gap: 90px;
    }
    .listanav a{
        text-decoration: none;
        color: black;
    }
    .listanav :hover{
        color: darkgoldenrod;
    }
    .encabezado{
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;
    }
    .encabezado h1{
        margin-left: 0%;
    }
    .portada h2{
        font-size: 40px;
        height: 800px;
    }
    /* RESPONSIVE---DESKTOP---SECCION NOTICIAS */
    .seccionnoticias article a :hover{
        color: blue;
        text-decoration: underline;
    }
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 50% 50% 50%;
    }
    .articulouno{
        height: 85%;
    }
    .noticiauno{
        display: flex;
    }
    .noticiados{
        display: flex;
    }
    .noticiatres{
        display: flex;
    }

/* RESPONSIVE---DESKTOP--FOOTER */
    .piedepagina {
        gap: 500px;
    }

    .redes {
        line-height: 30px;
    }

    .redessocialesiconos i {
        font-size: 20px;
        line-height: 25px;
    }

}

/* PAGINA CONTACTO */

.titulocontacto {
    color: gold;
}

.contacto {
    color: blueviolet;
    text-align: center;
    font-size: 60px;
}


.formulario label {
    color: aliceblue;
}

/* PAGINA ALBUM */

.tituloalbum {
    color: gold;
}

.album {
    color: blueviolet;
}

/* PAGINA TOUR */

.titulotour {
    color: gold;
}

.tour {
    color: blueviolet;
}

/* PAGINA MUSICA */

.titulomusica {
    color: gold;
}

.musica {
    color: blueviolet;
}