* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.separadordelfooter {
  height: 20px;
}

footer {
  display: flex;
}

.piedepagina {
  display: flex;
}
.piedepagina ul li {
  color: darkgoldenrod;
  font-size: 15px;
  list-style-type: none;
}
.piedepagina a {
  text-decoration: none;
  color: darkgoldenrod;
}
.piedepagina h2 {
  color: blueviolet;
  font-size: 20px;
}
.piedepagina h2 a {
  color: blueviolet;
}

.redessocialesiconos {
  margin-top: 12px;
  height: 20px;
  width: 5px;
  border-radius: 50px;
  padding: 40px;
}
.redessocialesiconos i {
  color: blueviolet;
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .piedepagina {
    gap: 300px;
  }
  .redes {
    margin-top: 1px;
  }
}
@media (min-width: 1024px) {
  .piedepagina {
    gap: 400px;
  }
  .piedepagina h2 {
    font-size: 25px;
  }
  .piedepagina h2 a {
    font-size: 25px;
  }
  .piedepagina ul li {
    font-size: 20px;
  }
  .redessocialesiconos i {
    font-size: 20px;
  }
  .listafooter {
    margin-top: 15px;
  }
  .redes {
    margin-top: 15px;
  }
}
.navbar {
  position: sticky;
}

.nav-link:hover {
  color: darkgoldenrod;
  text-decoration: none;
}

.navbar-brand {
  font-size: 20px;
  color: darkgoldenrod;
}
.navbar-brand:hover {
  text-decoration: none;
}

.carousel h5 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: blueviolet;
}
.carousel p {
  font-size: 20px;
}

.seccionlomasdestacado h2 {
  color: blueviolet;
  font-size: 30px;
  margin: 20px;
}

.seccionnoticias h2 {
  color: red;
  font-size: 30px;
  margin: 20px;
}

.seccionnoticias h3 {
  color: cornflowerblue;
}

.seccionnoticias a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.articulouno {
  width: 350px;
  height: 500px;
  margin-left: 10px;
  border-radius: 20px;
  background-image: url(../imag/imagen-lolla.jpg);
  background-size: cover;
  padding: 20px;
}
.articulouno h2 {
  color: blueviolet;
  font-size: large;
}
.articulouno p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.articulouno h3 {
  color: cornflowerblue;
}

.articulodos {
  background-color: blueviolet;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.articulodos figure img {
  width: 250px;
  margin: 30px;
}

.articulotres {
  background-color: blueviolet;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.articulotres figure img {
  margin: 30px;
  width: 250px;
}

.articulocuatro {
  background-color: blueviolet;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.articulocuatro figure img {
  width: 250px;
  margin: 30px;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .articulouno {
    height: 900px;
    width: 750px;
    padding: 20px;
  }
  .ultimasnoticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 20%;
  }
  .articulodos {
    grid-column: span 2;
  }
  .noticiauno {
    display: flex;
  }
  .articulotres figure img {
    margin-left: 50px;
  }
  .articulocuatro figure img {
    margin-left: 50px;
  }
}
@media (min-width: 1100px) {
  .seccionnoticias article a :hover {
    color: blue;
    text-decoration: underline;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 50% 50% 50%;
  }
  .articulouno {
    padding: 20px;
    width: 500px;
    height: 1150px;
  }
  .noticiauno {
    display: flex;
  }
  .noticiados {
    display: flex;
  }
  .noticiatres {
    display: flex;
  }
}
.tour {
  color: blueviolet;
  margin: 10px;
  font-size: 3rem;
}

.subtitulotour {
  color: blue;
  margin: 10px;
}

.primercontenedorbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imag/taylor.jpg);
  background-size: cover;
  width: 350px;
  height: 300px;
  border-radius: 25px;
}

.segundocontenedorbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imag/theweeknd.jpg);
  background-size: cover;
  width: 350px;
  height: 300px;
  border-radius: 25px;
}

.toursarticles {
  color: aliceblue;
  margin: 10px;
  cursor: default;
}

.button {
  background-color: rgba(139, 0, 139, 0.214);
  width: 70px;
}
.button a {
  color: black;
  text-decoration: none;
}
.button:hover {
  transform: translateY(-4%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .toursarticles {
    display: flex;
  }
  .articletaylor {
    margin-left: 20px;
  }
}
@media (min-width: 1100px) {
  .secciontour {
    margin-left: 50px;
  }
  .tour {
    margin: 10px;
    margin-bottom: 20px;
  }
  .subtitulotour {
    margin: 10px;
    margin-bottom: 10px;
  }
  .secciontour {
    margin: 20px;
  }
  .toursarticles {
    display: flex;
    gap: 200px;
  }
  .segundocontenedorbutton {
    width: 400px;
  }
  .primercontenedorbutton {
    width: 400px;
  }
}
.musica {
  margin-left: 40px;
  font-size: 3rem;
  color: blueviolet;
}

.seccionmusica h3 {
  margin-left: 20px;
  color: cornflowerblue;
}

.target {
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: blueviolet;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.target:hover {
  transform: translateY(-3%);
}

.targetdos {
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: blueviolet;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.targetdos:hover {
  transform: translateY(-3%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .seccionmusica {
    margin-left: 20px;
  }
  .lomasescuchado {
    display: flex;
    gap: 120px;
    margin-bottom: 30px;
  }
  .musicapop {
    display: flex;
    gap: 120px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1100px) {
  .musica {
    margin-left: 90px;
  }
  .seccionmusica {
    margin-left: 70px;
  }
  .lomasescuchado {
    display: flex;
    gap: 120px;
    margin-bottom: 30px;
  }
  .musicapop {
    display: flex;
    gap: 120px;
    margin-bottom: 50px;
  }
}
.album {
  margin-left: 10px;
  font-size: 3rem;
  color: blueviolet;
}

.primeralbum {
  cursor: default;
}
.primeralbum h3 {
  margin-left: 10px;
  color: cornflowerblue;
}
.primeralbum p {
  color: aliceblue;
  margin-left: 10px;
}
.primeralbum ul {
  list-style-type: none;
  color: blueviolet;
}
.primeralbum ul li:hover {
  color: red;
}
.primeralbum figure img {
  margin-left: 50px;
  width: 250px;
}

.segundoalbum {
  cursor: default;
  margin-left: 10px;
}
.segundoalbum h3 {
  color: cornflowerblue;
}
.segundoalbum ul {
  list-style-type: none;
  color: blueviolet;
}
.segundoalbum ul li:hover {
  color: red;
}
.segundoalbum p {
  color: aliceblue;
}
.segundoalbum figure img {
  margin-left: 50px;
  width: 250px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cancionesgorillaz {
    display: flex;
  }
  .cancionesgorillaz figure img {
    margin-top: 50px;
    margin-right: 30px;
    width: 300px;
  }
  .cancioneslana {
    display: flex;
  }
  .cancioneslana figure img {
    margin-top: 50px;
    margin-right: 30px;
    width: 300px;
  }
}
@media (min-width: 1100px) {
  .cancionesgorillaz {
    display: flex;
  }
  .cancionesgorillaz ul {
    font-size: 20px;
  }
  .cancionesgorillaz figure img {
    margin-top: 40px;
    margin-right: 30px;
    width: 400px;
  }
  .cancioneslana {
    display: flex;
  }
  .cancioneslana ul {
    font-size: 20px;
  }
  .cancioneslana figure img {
    margin-top: 70px;
    margin-right: 30px;
    width: 500px;
  }
}
.contacto {
  color: blueviolet;
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
}

.formulario {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario label {
  color: cornflowerblue;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 15px;
}

input,
textarea {
  border-radius: 25px;
  padding: 5px;
  background-color: aquamarine;
  margin-bottom: 15px;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: cornflowerblue;
}

/*# sourceMappingURL=styles.css.map */
