.carousel {
    & h5{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 50px;
        color: $color-primario;
    }

    & p {
        font-size: 20px;
    }
}

.seccionlomasdestacado h2 {
    color: $color-primario;
    font-size: 30px;
    margin: 20px;
}

.seccionnoticias h2 {
    color: red;
    font-size: 30px;
    margin: 20px;
}

.seccionnoticias h3 {
    color: $color-secundario;
}

.seccionnoticias a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.articulouno {
    width: 500px;
    height: 500px;
    margin-left: 10px;
    border-radius: 20px;
    background-image: url(../imag/imagen-lolla.jpg);
    background-size: cover;
    padding: 20px;

    & h2 {
        color:$color-primario;
        font-size: large;
    }
    & p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    & h3 {
        color: $color-secundario;
    }
}

.articulodos {
    background-color: $color-primario;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;

    & figure img {
        width: 250px;
        margin: 30px;
    }
}

.articulotres {
    background-color: $color-primario;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;

    & figure img {
        margin: 30px;
        width: 250px;
    }
}

.articulocuatro {
    background-color:$color-primario;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;

    & figure img {
        width: 250px;
        margin: 30px;
    }
}

a:hover {
    color: blue;
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1099px) {

    .articulouno {
        width: 750px;
        padding: 20px;
    }

    .ultimasnoticias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20% 20%;
    }

    .articulodos {
        grid-column: span 2;
    }

    .noticiauno {
        display: flex;
    }

    .articulotres figure img {
        margin-left: 50px;
    }

    .articulocuatro figure img {
        margin-left: 50px;
    }

}

@media (min-width: 1100px) {

    .seccionnoticias article a :hover {
        color: blue;
        text-decoration: underline;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 50% 50% 50%;
    }

    .articulouno {
        padding: 20px;
        width: 500px;
        height: 1000px;
    }

    .noticiauno {
        display: flex;
    }

    .noticiados {
        display: flex;
    }

    .noticiatres {
        display: flex;
    }
}
